In [61]:
import pandas as pd
import numpy as np
import random

# Dataset

In [ ]:
df = pd.read_csv('train_data_null_removed.csv')
df_test = pd.read_csv('test_data_null_removed.csv')
df.head(3)

,Unnamed: 0,primary_identifier,device_type,device_category,gender,district_name,age_group,network_stay,average_monthly_bill_amount,dusage_sum,...,vusage_offnet_max,vusage_offnet_min,vusage_offnet_days,vusage_offnet_avg,vusage_offnet_stddev,number_of_fixed_bb_accounts,number_of_iptv_accounts,add_on_tot_rental,add_on_count,next_month_plan
0,0,6875768,4G,Smartphone,0.0,Kegalle,40-50,0.694534,0.400863,0.035809,...,0.320274,0.0,0.9,0.232406,0.382201,0.0,0.333333,0.026661,0.038659,2
1,1,6406277,4G,Smartphone,0.0,Galle,40-50,0.106109,0.457370,0.160790,...,0.074237,0.0,0.5,0.046956,0.074547,0.0,0.000000,0.030848,0.043478,1
2,2,3563570,4G,Smartphone,0.0,Kandy,30-40,0.588424,0.427261,0.105328,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,6

In [63]:
# df.dtypes

In [64]:
dff.shape, df2.shape

((10500, 31), (4500, 30))

In [65]:
df2['next_month_plan'] = 'PKG1'

In [66]:
df = pd.concat([dff, df2])

In [67]:
df.shape

(15000, 31)

In [68]:
# df.describe()

In [69]:
# for column in df.columns:
#     print(column + ':', df[column].unique())

In [70]:
# df['gender'].isnull().sum()

In [71]:
# df['gender'].value_counts()

In [72]:
# df['next_month_plan'].value_counts() / 105

# NULL values

In [73]:
# df.isnull().sum()

In [74]:
df[['device_type', 'device_category', 'gender', 'age_group']] = df[['device_type', 'device_category', 'gender', 'age_group']].fillna(df[['device_type', 'device_category', 'gender', 'age_group']].mode().iloc[0])

In [75]:
# df.isnull().sum()

In [76]:
# for column in ['device_type', 'device_category', 'gender', 'age_group']:
#     print(column+':', df[column].value_counts())

In [77]:
# df.columns

In [78]:
# df[['vusage_offnet_sum', 'vusage_offnet_min', 'vusage_offnet_max', 'vusage_offnet_avg', 'vusage_offnet_days', 'vusage_offnet_stddev']].head()

In [79]:
mean_dusage_days = df['dusage_days'].mean()

In [80]:
mean_dusage_days

24.7992

In [81]:
df['dusage_avg'] = df['dusage_avg'].fillna(df['dusage_sum'] / mean_dusage_days)

In [82]:
df['vusage_onnet_avg'] = df['vusage_onnet_avg'].fillna(df['vusage_onnet_sum'] / df['vusage_onnet_days'].mean())

In [83]:
df['vusage_offnet_avg'] = df['vusage_offnet_avg'].fillna(df['vusage_offnet_sum'] / df['vusage_offnet_days'].mean())

In [84]:
df.isnull().sum()

primary_identifier                0
device_type                       0
device_category                   0
gender                            0
district_name                     0
age_group                         0
network_stay                      0
average_monthly_bill_amount       0
dusage_sum                        0
dusage_min                        0
dusage_max                        0
dusage_avg                        0
dusage_days                       0
dusage_stddev                     0
vusage_onnet_sum                  0
vusage_onnet_max                  0
vusage_onnet_min                  0
vusage_onnet_days                 0
vusage_onnet_avg                  0
vusage_onnet_stddev               0
vusage_offnet_sum                 0
vusage_offnet_max                 0
vusage_offnet_min                 0
vusage_offnet_days                0
vusage_offnet_avg                 0
vusage_offnet_stddev              0
number_of_fixed_bb_accounts       0
number_of_iptv_accounts           0
add_on_tot_rental              5545
add_on_count                   5545
next_month_plan                   0
dtype: int64

In [85]:
df.head()

,primary_identifier,device_type,device_category,gender,district_name,age_group,network_stay,average_monthly_bill_amount,dusage_sum,dusage_min,...,vusage_offnet_max,vusage_offnet_min,vusage_offnet_days,vusage_offnet_avg,vusage_offnet_stddev,number_of_fixed_bb_accounts,number_of_iptv_accounts,add_on_tot_rental,add_on_count,next_month_plan
0,6875768,4G,Smartphone,MALE,Kegalle,40-50,219,761.62,6317.0,2.773958,...,152.866667,0.0,27.0,25.099383,34.759221,0.0,1.0,NaN,NaN,PKG2
1,6406277,4G,Smartphone,MALE,Galle,40-50,36,2482.52,28365.0,3.079438,...,35.433333,0.0,15.0,5.071111,6.779644,0.0,0.0,600.0,2.0,PKG1
2,3563570,4G,Smartphone,MALE,Kandy,30-40,186,1565.55,18581.0,48.193713,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,0.0,1.0,PKG6
3,1853666,4G,Smartphone,FEMALE,Colombo,40-50,24,2397.49,91071.0,22.437842,...,0.000000,0.0,0.0,0.000000,0.000000,0.0,0.0,1110.0,2.0,PKG4
4,2794331,4G,Smartphone,FEMALE,Kandy,50-60,37,2501.75,19736.0,53.302092,...,87.616667,0.0,23.0,11.256522,16.224071,0.0,1.0,1350.0,2.0,PKG4

In [86]:
df[['add_on_tot_rental', 'add_on_count']] = df[['add_on_tot_rental', 'add_on_count']].fillna(df[['add_on_tot_rental', 'add_on_count']].mean())

In [87]:
df.isnull().sum()

primary_identifier             0
device_type                    0
device_category                0
gender                         0
district_name                  0
age_group                      0
network_stay                   0
average_monthly_bill_amount    0
dusage_sum                     0
dusage_min                     0
dusage_max                     0
dusage_avg                     0
dusage_days                    0
dusage_stddev                  0
vusage_onnet_sum               0
vusage_onnet_max               0
vusage_onnet_min               0
vusage_onnet_days              0
vusage_onnet_avg               0
vusage_onnet_stddev            0
vusage_offnet_sum              0
vusage_offnet_max              0
vusage_offnet_min              0
vusage_offnet_days             0
vusage_offnet_avg              0
vusage_offnet_stddev           0
number_of_fixed_bb_accounts    0
number_of_iptv_accounts        0
add_on_tot_rental              0
add_on_count                   0
next_month_plan                0
dtype: int64

In [88]:
df.shape

(15000, 31)

In [89]:
df.to_csv('null_removed_all.csv')

In [90]:
data_null = pd.read_csv('null_removed_all.csv')

In [91]:
data_null.isnull().sum().sum()

0